{% extends "base.html" %}
{% load static %}

<body>
    {% block content %}
    
    
    <center>
    <h1 style="font-size:36px ; background-color:rgb(233, 236, 239);">Test Equipment Team</h1>
    
    <script type='text/javascript' src='https://tableau-apac.imfs.micron.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1873px; height: 915px;'><object class='tableauViz' width='1873' height='915' style='display:none;'><param name='host_url' value='https%3A%2F%2Ftableau-apac.imfs.micron.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;MSB' /><param name='name' value='LastEngineeringchangesdashboard&#47;Dashboard1&#47;itanb@na.micron.com&#47;normal' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /></object></div>

    
    </div>
    {% endblock %}
</body>

