<table border="1" class="dataframe sortable" id = "myTable" contenteditable = "true">
  <thead>
    <tr style="text-align: right;">
      <th onclick="sortTable(0)">Equipment (ID)</th>
      <th onclick="sortTable(1)">Equipment Description</th>
      <th onclick="sortTable(2)">Equipment Type (ID)</th>
      <th onclick="sortTable(3)">Physical Location</th>
      <th onclick="sortTable(4)">Equipment State (ID)</th>
      <th onclick="sortTable(5)">Equipment State Datetime (IN)</th>
      <th onclick="sortTable(6)">Equipment State Datetime (Out)</th>
      <th onclick="sortTable(7)">Event code (ID)</th>
      <th onclick="sortTable(8)">Event History employee no</th>
      <th onclick="sortTable(9)">Semi Sate (ID)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>SM3016-0252</td>
      <td>MONGOOSE 3 256 SITES TESTER</td>
      <td>SM3016 TESTER</td>
      <td>S01-TFC4-P0201</td>
      <td>SITE MAINTENANCE</td>
      <td>2022-04-18 21:35:13.193</td>
      <td>2022-04-19 03:57:07.567</td>
      <td>NaN</td>
      <td>767570</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>SM3016-0252</td>
      <td>MONGOOSE 3 256 SITES TESTER</td>
      <td>SM3016 TESTER</td>
      <td>S01-TFC4-P0201</td>
      <td>SITE MAINTENANCE</td>
      <td>2021-10-25 09:13:17.407</td>
      <td>2021-10-25 11:17:10.293</td>
      <td>NaN</td>
      <td>1242611</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>TWS7P-0020</td>
      <td>TECH WING TWS7P HANDLER</td>
      <td>TWS7P HANDLER</td>
      <td>S01-TFC2-P0308</td>
      <td>CHANGEOVER</td>
      <td>2022-10-10 02:17:12.893</td>
      <td>2022-10-10 10:12:21.663</td>
      <td>NaN</td>
      <td>0</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>SM3016-0253</td>
      <td>MONGOOSE 3 256 SITES TESTER</td>
      <td>SM3016 TESTER</td>
      <td>S01-TFC4-P0202</td>
      <td>CHANGEOVER</td>
      <td>2022-07-22 10:41:08.743</td>
      <td>2022-07-22 15:40:03.607</td>
      <td>CHNG FULL KIT</td>
      <td>1074065</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>SM3016-0253</td>
      <td>MONGOOSE 3 256 SITES TESTER</td>
      <td>SM3016 TESTER</td>
      <td>S01-TFC4-P0202</td>
      <td>SITE MAINTENANCE</td>
      <td>2022-09-10 21:47:50.617</td>
      <td>2022-09-11 03:50:23.263</td>
      <td>COMPONENT REPLACED</td>
      <td>767570</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>SM3016-0253</td>
      <td>MONGOOSE 3 256 SITES TESTER</td>
      <td>SM3016 TESTER</td>
      <td>S01-TFC4-P0202</td>
      <td>SITE MAINTENANCE</td>
      <td>2022-10-17 21:42:08.517</td>
      <td>2022-10-18 03:57:21.643</td>
      <td>COMPONENT REPLACED</td>
      <td>767570</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>SM3016-0253</td>
      <td>MONGOOSE 3 256 SITES TESTER</td>
      <td>SM3016 TESTER</td>
      <td>S01-TFC4-P0202</td>
      <td>SITE MAINTENANCE</td>
      <td>2021-10-31 20:28:56.633</td>
      <td>2021-11-01 03:18:52.337</td>
      <td>NaN</td>
      <td>786030</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>SM3016-0253</td>
      <td>MONGOOSE 3 256 SITES TESTER</td>
      <td>SM3016 TESTER</td>
      <td>S01-TFC4-P0202</td>
      <td>SITE MAINTENANCE</td>
      <td>2022-02-17 08:38:29.527</td>
      <td>2022-02-17 17:47:31.687</td>
      <td>NaN</td>
      <td>1248643</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>SM3016-0253</td>
      <td>MONGOOSE 3 256 SITES TESTER</td>
      <td>SM3016 TESTER</td>
      <td>S01-TFC4-P0202</td>
      <td>SITE MAINTENANCE</td>
      <td>2022-08-25 20:51:17.830</td>
      <td>2022-08-26 03:31:40.153</td>
      <td>NaN</td>
      <td>767998</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0054</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC2-P0308</td>
      <td>CHANGEOVER</td>
      <td>2022-10-10 02:17:12.817</td>
      <td>2022-10-10 10:13:57.253</td>
      <td>CHNG PARTIAL KIT</td>
      <td>0</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>SM3016-0254</td>
      <td>MONGOOSE 3 256 SITES TESTER</td>
      <td>SM3016 TESTER</td>
      <td>S01-TFC4-P0203</td>
      <td>SITE MAINTENANCE</td>
      <td>2022-07-27 19:58:44.310</td>
      <td>2022-07-28 04:02:30.087</td>
      <td>COMPONENT REPLACED</td>
      <td>767998</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>SM3016-0254</td>
      <td>MONGOOSE 3 256 SITES TESTER</td>
      <td>SM3016 TESTER</td>
      <td>S01-TFC4-P0203</td>
      <td>CHANGEOVER</td>
      <td>2022-08-18 01:40:32.483</td>
      <td>2022-08-18 06:48:11.123</td>
      <td>CHNG FULL KIT NEW</td>
      <td>794547</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6741AD-0701</td>
      <td>ADVANTEST M6741AD TEST HANDLER</td>
      <td>M6741AD HANDLER</td>
      <td>S01-TFC4-P0902</td>
      <td>CHANGEOVER</td>
      <td>2022-08-10 11:02:54.957</td>
      <td>2022-08-10 15:34:17.577</td>
      <td>NaN</td>
      <td>1225228</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6741AD-0501</td>
      <td>ADVANTEST M6741AD TEST HANDLER</td>
      <td>M6741AD HANDLER</td>
      <td>S01-TFC4-P0901</td>
      <td>CHANGEOVER</td>
      <td>2022-08-30 13:31:13.087</td>
      <td>2022-08-30 15:42:05.463</td>
      <td>NaN</td>
      <td>0</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6741AD-0502</td>
      <td>ADVANTEST M6741AD TEST HANDLER</td>
      <td>M6741AD HANDLER</td>
      <td>S01-TFC4-P0901</td>
      <td>CHANGEOVER</td>
      <td>2022-08-30 13:31:13.040</td>
      <td>2022-08-30 13:50:31.310</td>
      <td>NaN</td>
      <td>0</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG2XSV-0015</td>
      <td>MAGNUM 2X TESTER</td>
      <td>MAGNUM2X TESTER</td>
      <td>S01-TFC4-P0502</td>
      <td>CHANGEOVER</td>
      <td>2022-10-18 00:14:27.427</td>
      <td>2022-10-18 02:19:20.473</td>
      <td>NaN</td>
      <td>1091031</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG2XSV-0015</td>
      <td>MAGNUM 2X TESTER</td>
      <td>MAGNUM2X TESTER</td>
      <td>S01-TFC4-P0502</td>
      <td>CHANGEOVER</td>
      <td>2022-10-14 13:17:05.157</td>
      <td>2022-10-14 15:43:14.517</td>
      <td>NaN</td>
      <td>1091031</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG2XSV-0015</td>
      <td>MAGNUM 2X TESTER</td>
      <td>MAGNUM2X TESTER</td>
      <td>S01-TFC4-P0502</td>
      <td>CHANGEOVER</td>
      <td>2022-08-17 03:02:55.093</td>
      <td>2022-08-17 05:47:44.627</td>
      <td>NaN</td>
      <td>767998</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG2XSV-0015</td>
      <td>MAGNUM 2X TESTER</td>
      <td>MAGNUM2X TESTER</td>
      <td>S01-TFC4-P0502</td>
      <td>CHANGEOVER</td>
      <td>2022-07-17 04:04:20.957</td>
      <td>2022-07-17 05:41:59.253</td>
      <td>NaN</td>
      <td>793667</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG2XSV-0015</td>
      <td>MAGNUM 2X TESTER</td>
      <td>MAGNUM2X TESTER</td>
      <td>S01-TFC4-P0502</td>
      <td>CHANGEOVER</td>
      <td>2022-07-20 04:20:27.987</td>
      <td>2022-07-20 06:11:29.613</td>
      <td>NaN</td>
      <td>786030</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG2XSV-0015</td>
      <td>MAGNUM 2X TESTER</td>
      <td>MAGNUM2X TESTER</td>
      <td>S01-TFC4-P0502</td>
      <td>CHANGEOVER</td>
      <td>2022-08-22 10:54:12.920</td>
      <td>2022-08-22 15:57:03.260</td>
      <td>NaN</td>
      <td>0</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0008</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0104</td>
      <td>SITE MAINTENANCE</td>
      <td>2022-01-06 20:38:24.320</td>
      <td>2022-01-07 04:42:45.653</td>
      <td>NaN</td>
      <td>767998</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0009</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC2-P0403</td>
      <td>SITE MAINTENANCE</td>
      <td>2021-10-12 21:05:04.650</td>
      <td>2021-10-12 23:30:23.037</td>
      <td>NaN</td>
      <td>767570</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0010</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC2-P0402</td>
      <td>SITE MAINTENANCE</td>
      <td>2022-06-13 08:45:38.997</td>
      <td>2022-06-13 16:20:57.480</td>
      <td>NaN</td>
      <td>767566</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0010</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC2-P0402</td>
      <td>SITE MAINTENANCE</td>
      <td>2022-03-31 11:00:31.927</td>
      <td>2022-03-31 15:43:57.377</td>
      <td>NaN</td>
      <td>767566</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0010</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC2-P0402</td>
      <td>CHANGEOVER</td>
      <td>2022-08-11 22:36:35.403</td>
      <td>2022-08-19 17:23:38.463</td>
      <td>CHNG FULL KIT NEW</td>
      <td>0</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0012</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0102</td>
      <td>CHANGEOVER</td>
      <td>2022-10-19 05:37:16.727</td>
      <td>2022-10-19 05:42:47.087</td>
      <td>CHNG FULL KIT</td>
      <td>1235676</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0012</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0102</td>
      <td>CHANGEOVER</td>
      <td>2022-10-26 04:57:19.063</td>
      <td>2022-10-26 09:34:48.827</td>
      <td>CHNG FULL KIT</td>
      <td>792796</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0012</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0102</td>
      <td>SITE MAINTENANCE</td>
      <td>2022-01-11 09:46:21.373</td>
      <td>2022-01-11 15:14:17.373</td>
      <td>NaN</td>
      <td>767566</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>TW320HM-0015</td>
      <td>TECHWING HANDLER</td>
      <td>TW320HM HANDLER</td>
      <td>S01-TFC3-P0007</td>
      <td>CHANGEOVER</td>
      <td>2022-10-02 22:03:45.517</td>
      <td>2022-10-03 01:20:37.537</td>
      <td>NaN</td>
      <td>0</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>TW320HM-0015</td>
      <td>TECHWING HANDLER</td>
      <td>TW320HM HANDLER</td>
      <td>S01-TFC3-P0007</td>
      <td>CHANGEOVER</td>
      <td>2022-09-14 21:33:52.553</td>
      <td>2022-09-15 02:51:40.527</td>
      <td>NaN</td>
      <td>1234350</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>TW320HM-0015</td>
      <td>TECHWING HANDLER</td>
      <td>TW320HM HANDLER</td>
      <td>S01-TFC3-P0007</td>
      <td>CHANGEOVER</td>
      <td>2022-08-03 01:39:03.250</td>
      <td>2022-08-03 09:18:02.540</td>
      <td>NaN</td>
      <td>1180260</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>TW320HM-0015</td>
      <td>TECHWING HANDLER</td>
      <td>TW320HM HANDLER</td>
      <td>S01-TFC3-P0007</td>
      <td>CHANGEOVER</td>
      <td>2022-08-05 13:01:56.677</td>
      <td>2022-08-05 14:27:09.800</td>
      <td>NaN</td>
      <td>1232442</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>TW320HM-0015</td>
      <td>TECHWING HANDLER</td>
      <td>TW320HM HANDLER</td>
      <td>S01-TFC3-P0007</td>
      <td>CHANGEOVER</td>
      <td>2022-08-05 23:32:50.000</td>
      <td>2022-08-05 23:33:55.350</td>
      <td>CHANGEOVER1 PROD</td>
      <td>793464</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>TW320HM-0015</td>
      <td>TECHWING HANDLER</td>
      <td>TW320HM HANDLER</td>
      <td>S01-TFC3-P0007</td>
      <td>CHANGEOVER</td>
      <td>2022-08-16 13:05:02.870</td>
      <td>2022-08-16 17:16:00.510</td>
      <td>NaN</td>
      <td>1227228</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>TW320HM-0015</td>
      <td>TECHWING HANDLER</td>
      <td>TW320HM HANDLER</td>
      <td>S01-TFC3-P0007</td>
      <td>CHANGEOVER</td>
      <td>2022-08-20 15:44:35.413</td>
      <td>2022-08-20 22:11:08.447</td>
      <td>NaN</td>
      <td>0</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>TW320HM-0016</td>
      <td>TECHWING HANDLER</td>
      <td>TW320HM HANDLER</td>
      <td>S01-TFC3-P0008</td>
      <td>CHANGEOVER</td>
      <td>2022-07-22 21:40:33.187</td>
      <td>2022-07-23 01:20:13.753</td>
      <td>NaN</td>
      <td>786030</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>TW320HM-0016</td>
      <td>TECHWING HANDLER</td>
      <td>TW320HM HANDLER</td>
      <td>S01-TFC3-P0008</td>
      <td>CHANGEOVER</td>
      <td>2022-09-07 09:02:32.127</td>
      <td>2022-09-07 16:20:44.360</td>
      <td>NaN</td>
      <td>0</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>TW320HM-0016</td>
      <td>TECHWING HANDLER</td>
      <td>TW320HM HANDLER</td>
      <td>S01-TFC3-P0008</td>
      <td>CHANGEOVER</td>
      <td>2022-08-31 15:02:32.300</td>
      <td>2022-08-31 16:24:21.330</td>
      <td>NaN</td>
      <td>1226725</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>TW320HM-0016</td>
      <td>TECHWING HANDLER</td>
      <td>TW320HM HANDLER</td>
      <td>S01-TFC3-P0008</td>
      <td>CHANGEOVER</td>
      <td>2022-07-11 11:15:08.633</td>
      <td>2022-07-12 04:27:33.747</td>
      <td>NaN</td>
      <td>1235676</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>TW320HM-0016</td>
      <td>TECHWING HANDLER</td>
      <td>TW320HM HANDLER</td>
      <td>S01-TFC3-P0008</td>
      <td>CHANGEOVER</td>
      <td>2022-07-14 10:35:46.357</td>
      <td>2022-07-14 15:25:53.597</td>
      <td>NaN</td>
      <td>1230086</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>TW320HM-0016</td>
      <td>TECHWING HANDLER</td>
      <td>TW320HM HANDLER</td>
      <td>S01-TFC3-P0008</td>
      <td>CHANGEOVER</td>
      <td>2022-08-11 02:00:17.787</td>
      <td>2022-08-11 03:32:10.797</td>
      <td>NaN</td>
      <td>1235677</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>TW320HM-0016</td>
      <td>TECHWING HANDLER</td>
      <td>TW320HM HANDLER</td>
      <td>S01-TFC3-P0008</td>
      <td>CHANGEOVER</td>
      <td>2022-11-01 18:36:09.400</td>
      <td>2022-11-01 22:10:39.910</td>
      <td>NaN</td>
      <td>792796</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>TW320HM-0016</td>
      <td>TECHWING HANDLER</td>
      <td>TW320HM HANDLER</td>
      <td>S01-TFC3-P0008</td>
      <td>CHANGEOVER</td>
      <td>2022-07-21 02:04:28.123</td>
      <td>2022-07-21 04:23:49.563</td>
      <td>NaN</td>
      <td>1094885</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0014</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0007</td>
      <td>SITE MAINTENANCE</td>
      <td>2022-09-09 10:25:07.267</td>
      <td>2022-09-09 14:43:47.930</td>
      <td>NaN</td>
      <td>767566</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0014</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0007</td>
      <td>CHANGEOVER</td>
      <td>2022-10-02 22:03:45.377</td>
      <td>2022-10-03 01:20:30.393</td>
      <td>CHNG FULL KIT</td>
      <td>0</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0014</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0007</td>
      <td>CHANGEOVER</td>
      <td>2022-09-14 21:33:52.430</td>
      <td>2022-09-15 02:51:40.527</td>
      <td>CHNG FULL KIT</td>
      <td>1234350</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0014</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0007</td>
      <td>CHANGEOVER</td>
      <td>2022-08-03 01:39:03.173</td>
      <td>2022-08-03 09:17:42.527</td>
      <td>CHNG FULL KIT</td>
      <td>1180260</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0014</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0007</td>
      <td>SITE MAINTENANCE</td>
      <td>2021-10-21 10:02:19.793</td>
      <td>2021-10-21 15:03:27.963</td>
      <td>NaN</td>
      <td>767566</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0014</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0007</td>
      <td>CHANGEOVER</td>
      <td>2022-08-05 13:01:41.443</td>
      <td>2022-08-05 14:28:29.353</td>
      <td>MONITORING</td>
      <td>1232442</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0014</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0007</td>
      <td>SITE MAINTENANCE</td>
      <td>2021-11-05 09:31:39.403</td>
      <td>2021-11-05 15:17:47.630</td>
      <td>NaN</td>
      <td>767566</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0014</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0007</td>
      <td>SITE MAINTENANCE</td>
      <td>2021-12-01 22:17:53.943</td>
      <td>2021-12-02 04:14:12.723</td>
      <td>NaN</td>
      <td>786030</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0014</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0007</td>
      <td>SITE MAINTENANCE</td>
      <td>2021-10-04 22:33:30.667</td>
      <td>2021-10-05 05:26:37.770</td>
      <td>NaN</td>
      <td>767570</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0014</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0007</td>
      <td>CHANGEOVER</td>
      <td>2022-08-16 13:05:02.683</td>
      <td>2022-08-16 17:15:53.920</td>
      <td>CHNG FULL KIT</td>
      <td>1227228</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0014</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0007</td>
      <td>SITE MAINTENANCE</td>
      <td>2022-09-19 21:03:52.210</td>
      <td>2022-09-20 04:08:40.100</td>
      <td>NaN</td>
      <td>767570</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0014</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0007</td>
      <td>SITE MAINTENANCE</td>
      <td>2022-01-20 09:58:53.927</td>
      <td>2022-01-20 16:00:02.647</td>
      <td>NaN</td>
      <td>767566</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0014</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0007</td>
      <td>CHANGEOVER</td>
      <td>2022-08-05 23:29:02.177</td>
      <td>2022-08-06 01:43:39.550</td>
      <td>CHNG FULL KIT</td>
      <td>793464</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0014</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0007</td>
      <td>CHANGEOVER</td>
      <td>2022-08-20 15:44:35.350</td>
      <td>2022-08-20 22:10:57.477</td>
      <td>CHNG FULL KIT</td>
      <td>0</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0015</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0008</td>
      <td>CHANGEOVER</td>
      <td>2022-07-22 21:40:33.060</td>
      <td>2022-07-23 01:20:02.533</td>
      <td>CHNG FULL KIT</td>
      <td>786030</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0015</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0008</td>
      <td>CHANGEOVER</td>
      <td>2022-09-07 09:02:32.000</td>
      <td>2022-09-07 16:20:36.780</td>
      <td>CHNG FULL KIT</td>
      <td>0</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0015</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0008</td>
      <td>CHANGEOVER</td>
      <td>2022-08-31 15:02:32.160</td>
      <td>2022-08-31 16:24:11.587</td>
      <td>CHNG FULL KIT</td>
      <td>1226725</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0015</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0008</td>
      <td>CHANGEOVER</td>
      <td>2022-07-11 11:15:08.603</td>
      <td>2022-07-12 04:27:23.140</td>
      <td>CHNG FULL KIT</td>
      <td>1235676</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0015</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0008</td>
      <td>CHANGEOVER</td>
      <td>2022-07-14 10:35:00.903</td>
      <td>2022-07-14 15:25:53.597</td>
      <td>CHNG FULL KIT</td>
      <td>1230086</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0015</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0008</td>
      <td>CHANGEOVER</td>
      <td>2022-08-11 02:00:17.630</td>
      <td>2022-08-11 03:32:10.797</td>
      <td>CHNG FULL KIT</td>
      <td>1235677</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0015</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0008</td>
      <td>CHANGEOVER</td>
      <td>2022-11-01 18:35:55.487</td>
      <td>2022-11-01 22:10:29.737</td>
      <td>CHNG FULL KIT</td>
      <td>792796</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0015</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0008</td>
      <td>SITE MAINTENANCE</td>
      <td>2022-06-25 21:04:59.597</td>
      <td>2022-06-26 04:04:42.793</td>
      <td>NaN</td>
      <td>786030</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0015</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0008</td>
      <td>CHANGEOVER</td>
      <td>2022-07-21 02:04:27.953</td>
      <td>2022-07-21 04:23:42.353</td>
      <td>CHNG FULL KIT</td>
      <td>1094885</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0015</td>
      <td>MAGNUM V GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC3-P0008</td>
      <td>SITE MAINTENANCE</td>
      <td>2022-04-12 22:05:15.850</td>
      <td>2022-04-13 04:17:46.300</td>
      <td>NaN</td>
      <td>786030</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG5GV-0023</td>
      <td>MAGNUM GV TESTER</td>
      <td>MAGNUM 5 GV TESTER</td>
      <td>S01-TFC2-P0204</td>
      <td>SITE MAINTENANCE</td>
      <td>2022-07-20 10:29:42.527</td>
      <td>2022-07-20 16:20:08.317</td>
      <td>NaN</td>
      <td>767566</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>TW320SM-0003</td>
      <td>TECH WING TW320SM HANDLER</td>
      <td>TW320SM HANDLER</td>
      <td>S01-TFC2-P0206</td>
      <td>SITE MAINTENANCE</td>
      <td>2021-10-21 07:04:21.847</td>
      <td>2021-10-21 07:05:49.357</td>
      <td>NaN</td>
      <td>767766</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>TAV-0058</td>
      <td>ADVANTEST T5585 TESTER</td>
      <td>T5585 TESTER</td>
      <td>NaN</td>
      <td>SITE MAINTENANCE</td>
      <td>2021-10-02 09:00:11.427</td>
      <td>2021-10-02 17:08:45.307</td>
      <td>NaN</td>
      <td>766435</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>TAV-0058</td>
      <td>ADVANTEST T5585 TESTER</td>
      <td>T5585 TESTER</td>
      <td>NaN</td>
      <td>SITE MAINTENANCE</td>
      <td>2021-11-03 23:23:11.967</td>
      <td>2021-11-04 05:56:37.850</td>
      <td>NaN</td>
      <td>767998</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG2EV-0047</td>
      <td>MAGNUM 2 TESTER</td>
      <td>MAGNUM 2 EV TESTER</td>
      <td>PE LAB</td>
      <td>CHANGEOVER</td>
      <td>2022-10-06 13:18:14.847</td>
      <td>2022-10-06 17:08:45.487</td>
      <td>C&amp;I</td>
      <td>1289478</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG2EV-0047</td>
      <td>MAGNUM 2 TESTER</td>
      <td>MAGNUM 2 EV TESTER</td>
      <td>PE LAB</td>
      <td>CHANGEOVER</td>
      <td>2022-10-06 13:18:14.847</td>
      <td>2022-10-06 17:08:45.487</td>
      <td>PM 1 YEAR</td>
      <td>1289478</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>MAG2EV-0047</td>
      <td>MAGNUM 2 TESTER</td>
      <td>MAGNUM 2 EV TESTER</td>
      <td>PE LAB</td>
      <td>CHANGEOVER</td>
      <td>2022-10-06 13:18:14.847</td>
      <td>2022-10-06 17:08:45.487</td>
      <td>PM 3 MONTH</td>
      <td>1289478</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0627</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-07-22 21:14:11.407</td>
      <td>2022-07-22 21:27:26.553</td>
      <td>NaN</td>
      <td>786030</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0627</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-09-02 14:38:50.900</td>
      <td>2022-09-02 18:02:22.687</td>
      <td>NaN</td>
      <td>0</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0627</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-09-07 13:12:04.193</td>
      <td>2022-09-07 19:51:17.693</td>
      <td>NaN</td>
      <td>0</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0627</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-10-01 19:51:33.227</td>
      <td>2022-10-02 00:20:54.277</td>
      <td>NaN</td>
      <td>0</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0627</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-10-20 14:43:18.683</td>
      <td>2022-10-20 16:57:25.283</td>
      <td>NaN</td>
      <td>766435</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0627</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-08-10 20:06:19.340</td>
      <td>2022-08-10 21:32:11.423</td>
      <td>NaN</td>
      <td>1235677</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0627</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-08-25 12:46:27.570</td>
      <td>2022-08-25 15:25:43.927</td>
      <td>NaN</td>
      <td>0</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0627</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-10-28 03:22:49.743</td>
      <td>2022-10-28 03:51:43.077</td>
      <td>NaN</td>
      <td>1091031</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0627</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-08-21 22:13:03.357</td>
      <td>2022-08-22 10:00:23.197</td>
      <td>NaN</td>
      <td>1234350</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0627</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-10-22 21:26:22.297</td>
      <td>2022-10-22 21:26:37.097</td>
      <td>NaN</td>
      <td>1107323</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0627</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-07-20 03:03:50.333</td>
      <td>2022-07-20 04:14:04.803</td>
      <td>NaN</td>
      <td>767998</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0627</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-08-27 08:41:54.427</td>
      <td>2022-08-27 10:07:01.797</td>
      <td>NaN</td>
      <td>1232442</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0627</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-08-21 04:40:06.420</td>
      <td>2022-08-21 05:07:02.273</td>
      <td>NaN</td>
      <td>1091031</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0628</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-07-22 21:14:11.220</td>
      <td>2022-07-22 21:27:01.350</td>
      <td>NaN</td>
      <td>786030</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0628</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-09-02 14:38:50.710</td>
      <td>2022-09-02 18:02:40.420</td>
      <td>NaN</td>
      <td>0</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0628</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-09-07 13:12:04.147</td>
      <td>2022-09-07 19:51:17.693</td>
      <td>NaN</td>
      <td>0</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0628</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-10-01 19:51:33.087</td>
      <td>2022-10-02 00:20:35.020</td>
      <td>NaN</td>
      <td>0</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0628</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-10-20 14:43:18.683</td>
      <td>2022-10-20 16:57:25.283</td>
      <td>NaN</td>
      <td>766435</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0628</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-08-10 20:06:19.277</td>
      <td>2022-08-10 21:32:11.423</td>
      <td>NaN</td>
      <td>1235677</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0628</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-08-25 12:46:27.413</td>
      <td>2022-08-25 15:23:48.107</td>
      <td>NaN</td>
      <td>0</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0628</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-10-28 03:22:49.743</td>
      <td>2022-10-28 03:51:43.077</td>
      <td>NaN</td>
      <td>1091031</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0628</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-08-21 22:13:03.343</td>
      <td>2022-08-22 10:00:01.940</td>
      <td>NaN</td>
      <td>1234350</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0628</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-10-22 21:26:22.297</td>
      <td>2022-10-22 21:26:37.097</td>
      <td>NaN</td>
      <td>1107323</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0628</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-07-20 03:03:50.320</td>
      <td>2022-07-20 04:14:25.270</td>
      <td>NaN</td>
      <td>767998</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
    <tr>
      <td>M6541AD-0628</td>
      <td>ADVANTEST M6541AD TEST HANDLER</td>
      <td>M6541AD HANDLER</td>
      <td>S01-TFC3-P0803</td>
      <td>CHANGEOVER</td>
      <td>2022-08-27 08:41:54.457</td>
      <td>2022-08-27 10:06:43.773</td>
      <td>NaN</td>
      <td>1232442</td>
      <td>SCHEDULED_DOWNTIME</td>
    </tr>
  </tbody>
</table>